# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Build artifacts
build/
dist/
installer/
*.spec

# PyInstaller internal build folders
*_internal/
*_external/

# Virtual environments
venv/
.env/

# Windows EXE output
*.exe
*.dll

# Logs
*.log

# IDE / tools
.vscode/
.idea/
*.swp
