# ---------------------------------------
# Python
# ---------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
env/

# ---------------------------------------
# PyInstaller build folders
# ---------------------------------------
build/
dist/
installer/

# Ignore PyInstaller output files
*.spec

# ---------------------------------------
# Windows build outputs
# ---------------------------------------
*.exe
*.dll
*.msi
*.zip

# Python crash dumps
*.log

# ---------------------------------------
# Editor / IDE
# ---------------------------------------
.vscode/
.idea/
*.suo
*.user
*.cache
*.project
*.settings/

# OS files
Thumbs.db
.DS_Store
